<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="/assets/css/app_style.css" type="text/css" />

		<title>Playlisted</title>

		<script src="https://code.jquery.com/jquery.js"></script>
		
		<script src="/assets/js/playlist.js"></script>
		<script src="/assets/js/song.js"></script>
		<script src="/assets/js/user.js"></script>

	</head>
	<body>
		<div id="main">
			{{{ body }}}
		</div>
	</body>
</html>