
  <header class="header">
    <h1>Playlisted</h1>
  </header>

  {{#if playlist}}
  <div class="playlist-content">
    <h2>Playlists</h2>
    <ul>
      {{#each playlist}}
        {{> playlist-block}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
