<div id="main" class="wrapper">

  <header class="header">
    <!--img src="TBD" alt="Playlist"/-->
    <h1>Playlisted</h1>
  </header>

  {{#if users}}
  <div class="user-content">
    <h2>Users</h2>
    <ul>
      {{#each users}}
        {{> user-block}}
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if playlist}}
  <div class="playlist-content">
    <h2>Playlists</h2>
    <ul>
      {{#each playlist}}
        {{> playlists/playlist-block}}
      {{/each}}
    </ul>
  </div>
  {{/if}}

</div>