<div class="formcontainer col-lg-12 col-sm-12 content mb-0">
    {{!-- <form id="form-new-login" action="login" method="POST"> --}}
    <form id="form-new-login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="user_name" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="user_password" placeholder="Password">
        </div>
        <input type="text" class="form-control" id="login_type" name="login_type" hidden>
        <a href="/register" class="link">New here? Join now!</a> <br> <br>
        <button type="submit" id="playlistedLoginBtn" value='login' class="btn mt-0 mb-3">Login</button><br>
        <button href='api/users/spotify' type="submit" value='oauth' id= "spotifyLoginBtn" class='btn m-1' hidden>Login With Spotify</button>
    </form>
</div>

<div class="col-lg-12 col-sm-12 content">
    <h4 class="userQuestion">
        What is this app? How do I use it? Why would I?
    </h4>
    <div>
        <p>
            To find the soundtracks that suit your life.
        </p>
        <p>
            Playlisted is a music application to discover and create the perfect playlist to fit a mood/activity level! Your first step towards finding the playlist of your dreams is to sign up for an account. 
            After you join the Playlisted community, create your perfect playlists by selecting a mood, energy level, and genre.  The personalized song recommendations are purpose built with you in mind. Don't like what you hear? Change it and rearrange it! Customize any playlists with ease. Once you have the perfect fit, save your playlist and listen on!
        </p>
        <p>Welcome to audio bliss! Let's get started today.  If you are new here, click on the link to register and join.</p>
    </div>
</div>

<script>
    $(document).ready (function() {

        $("#playlistedLoginBtn").on("click", function() {
            console.log("in normal login");
            $("#login_type").val("login");
        });

        $("#spotifyLoginBtn").on("click", function() {
            console.log("in spotify login");
            $("#login_type").val("login-spotify");
        });

    });
</script>