<div class="col-lg-12 col-sm-12 content">
  <form action='/api/users/sign-up' method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="input" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="emailHelp">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <button type="submit" id="playlistedLoginBtn" class="btn btn-light">Create Account!</button><br>
  </form>
</div>