<header class="header">
  <h1>Available Songs</h1>
</header>
<div class="formcontainer list">
  {{#if songs}}
    <div class="song-content">
      <h3>Songs</h3>
      <ul>
        {{#each songs as |item index|}}
          {{> song-block this}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

<div class="formcontainer list">
  {{#if song}}
    <div class="song-content-single">
      <h3>Song</h3>
      <ul>
        {{#each song as |item index|}}
          {{> song-block this}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

<div class="formcontainer">
  <h3>Create Song</h3>
  <form id="form-new-song">
    <div>
      <input type="text" name="song_title" placeholder="Song Title...">
      <input type="text" name="artist_name" placeholder="Artist Name...">
      <input type="date" name="date_released" placeholder="Date Released...">
    </div>
    <div>
      <select name="mood" placeholder="Mood...">
        <option selected disabled>Mood</option>
        <option>Angry</option>
        <option>Sad</option>
        <option>Meh</option>
        <option>Happy</option>
        <option>Ecstatic</option>
      </select>
      <select name="energy" placeholder="Energy...">
        <option selected disabled>Energy</option>
        <option>0.1</option>
        <option>0.2</option>
        <option>0.3</option>
        <option>0.4</option>
        <option>0.5</option>
        <option>0.6</option>
        <option>0.7</option>
        <option>0.8</option>
        <option>0.9</option>
        <option>1.0</option>
      </select>
      <select name="genre" placeholder="Genre...">
        <option selected disabled>Genre</option>
        <option>Rock</option>
        <option>Classical</option>
        <option>Easy Listening</option>
        <option>Pop</option>
        <option>Rap/Hip-Hop</option>
        <option>Unknown</option>
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="formcontainer">
  <h3>Update Song</h3>
  <form id="form-update-song">
    <div>
      <input type="text" name="song_id" placeholder="Id..." value="">
      <input type="text" name="song_title" placeholder="Song Title...">
      <input type="text" name="artist_name" placeholder="Artist Name...">
      <input type="date" name="date_released" placeholder="Date Released...">
    </div>
    <div>
      <select name="mood" placeholder="Mood...">
        <option selected disabled>Mood</option>
        <option>Angry</option>
        <option>Sad</option>
        <option>Meh</option>
        <option>Happy</option>
        <option>Ecstatic</option>
      </select>
      <select name="energy" placeholder="Energy...">
        <option selected disabled>Energy</option>
        <option>0.1</option>
        <option>0.2</option>
        <option>0.3</option>
        <option>0.4</option>
        <option>0.5</option>
        <option>0.6</option>
        <option>0.7</option>
        <option>0.8</option>
        <option>0.9</option>
        <option>1.0</option>
      </select>
      <select name="genre" placeholder="Genre...">
        <option selected disabled>Genre</option>
        <option>Rock</option>
        <option>Classical</option>
        <option>Easy Listening</option>
        <option>Pop</option>
        <option>Rap/Hip-Hop</option>
        <option>Unknown</option>
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>