  <header class="header">
    <h1>Route/API Test Page: Songs</h1>
  </header>

  {{#if songs}}
    <div class="song-content">
      <h3>Songs</h3>
      <ul>
        {{#each songs}}
          {{> song-block}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if song}}
    <div class="song-content-single">
      <h3>Song</h3>
      <ul>
        {{#each song}}
          {{> song-block}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

<h3>Create Song</h3>
<!--form id="form-new-song" method="POST" action="/api/songs" class="create-song-form"-->
<form id="form-new-song">
  <input type="text" name="song_title" placeholder="Song Title...">
  <input type="text" name="artist_name" placeholder="Artist Name...">
  <input type="text" name="date_released" placeholder="Date Released...">
  <input type="text" name="genre" placeholder="Genre...">
  <button type="submit">Submit</button>
</form>

<h3>Update Song</h3>
<form id="form-update-song">
  <input type="text" name="song_id" placeholder="Id...">
  <input type="text" name="song_title" placeholder="Song Title...">
  <input type="text" name="artist_name" placeholder="Artist Name...">
  <input type="text" name="date_released" placeholder="Date Released...">
  <input type="text" name="genre" placeholder="Genre...">
	<button type="submit">Update</button>
</form>
