
  <header class="header">
    <h1>Route/API Test Page: Users</h1>
  </header>
<div class="formcontainer list">
  {{#if users}}
    <div class="user-content">
      <h3>Users</h3>
      <ul>
        {{#each users}}
          {{> user-block}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
  
<div class="formcontainer list">
  {{#if user}}
    <div class="user-content-single">
      <h3>User</h3>
      <ul>
        {{#each user}}
          {{> user-block}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

<div class="formcontainer">
  <h3>Create User</h3>
  <!--form id="form-new-user" method="POST" action="/api/users" class="create-user-form"-->
  <form id="form-new-user">
    <div style="display:inline-block;">
      <input type="text" name="user_name" placeholder="Name...">
      <input type="text" name="user_password" placeholder="Password...">
    </div>
    <div style="display:block;">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="formcontainer">
  <h3>Update User</h3>
  <form id="form-update-user">
    <div style="display:inline-block;">
      <input type="text" name="id" placeholder="Id...">
      <input type="text" name="name" placeholder="Name...">
      <input type="text" name="password" placeholder="Password...">
    </div>
    <div style="display:block;">
      <button type="submit">Update</button>
    </div>
  </form>
</div>
