
  <header class="header">
    <h1>Registered Users</h1>
  </header>

  {{#if users}}
    <div class="user-content">
      <h3>Users</h3>
        <ul>
        {{#each users}}
          {{> user-block}}
        {{/each}}
        </ul>
    </div>
  {{/if}}

  {{#if user}}
    <div class="user-content-single">
      <h3>User</h3>
        <ul>
          {{#each user}}
            {{> user-block}}
          {{/each}}
        </ul>
    </div>
  {{/if}}

<h3>Add User</h3>
<div class="formcontainer">
  <!--form id="form-new-user" method="POST" action="/api/users" class="create-user-form"-->
  <form id="form-new-user">
    <div>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="usernamne" name="user_name" placeholder="Name..." class="form-control" maxlength="50" required autofocus>
      </div>
      <div class="form-group">
        <label for="useremail">Email</label>
        <input type="text" id="useremail" name="user_email" placeholder="Email..." class="form-control">
      </div>
      <div class="form-group">
          <label for="userpassword">Password</label>
          <input type="text" id="userpassword" name="user_password" placeholder="Password..." class="form-control">
      </div>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="formcontainer">
  <h3>Update User</h3>
  <form id="form-update-user">
    <div style="display:inline-block;">
      <input type="text" name="user_id" placeholder="Id...">
      <input type="text" name="user_name" placeholder="Name...">
      <input type="text" name="user_email" placeholder="Email...">
      <input type="text" name="user_password" placeholder="Password...">
    </div>
    <div style="display:block;">
      <button type="submit">Update</button>
    </div>
  </form>
</div>