.jumbotron {
  background-color:transparent !important; 
  color: #f8f1e5;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}
.container-fluid {
  background-color: #426e86;
  font-family: 'Rubik', sans-serif;
}
html{
  background-color: #426e86;
}
.link {
  color: #f9ba32;
}
label {
  color: #f8f1e5;
}
.userQuestion{
  color: #f9ba32;
  font-size: 32px;
}
.userAnswer{
  color:#f8f1e5;
}
.slogan{
  color: #f9ba32;
  font-size: 26px;
}
.word{

}