.jumbotron {
  background-color:transparent !important; 
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}
.container-fluid {
  background-color: #426e86;
  font-family: 'Rubik', sans-serif;
}
html{
  background-color: #426e86;
}
.link {
  color: #f9ba32;
}
label {
  color: white;
}